.header {
    width: 100%;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
}

.header__logo-container {
    width: 100%;
    height: 70px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    width: 180px;
}

.header__navigation {
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__menu-item {
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: ease 0.3s;
}

.header__nav {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

.header__nav-list {
    width: 90%;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.header__nav-item {
    width: 85px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #2695ba;
}

.header__nav-link {
    text-decoration: none;
    color: white;
}

.header__menu-toggle {
    background-color: transparent;
    border: none;
}

.sidebar__close-btn-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.sidebar__close-btn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100%;
    background-color: #00243d86;
    color: white;
    transition: left 0.3s ease;
    padding: 1rem;
    z-index: 1000;
    backdrop-filter: blur(15px);
}

.sidebar--active {
    left: 0;
}

.sidebar__nav-list-item {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
}

.sidebar__item-link {
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.slidebar__item-link {
    color: white;
    text-decoration: none;
}


.home-container {
    width: 100%;
    height: 520px;
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.home-container__welcome-content {
    width: 90%;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.home-container__tittle {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}

.home-container__description {
    font-size: 15px;
    text-align: center;
    color: gray;
}

.home-container__video-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container__video {
    width: 350px;
}

.zones-container {
    width: 100%;
    height: 600px;
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.zones-container__zones-view-container {
    width: 300px;
    height: 200px;
    background-color: rgba(220, 220, 220, 0.582);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.zone-item{
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin: 5px;
    background-color: #00243d;
    color: white;
    border-radius: 5px;
}

.zones-container__form-zones {
    width: 300px;
    height: 340px;
    background-color: rgba(220, 220, 220, 0.582);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-zones__tittle-container {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-zones__tittle {
    font-size: 20px;
    font-weight: 600;
}

.form-zones__description {
    font-size: 14px;
    color: gray;
}

.form-zones__form-container {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.form-zones__input-container {
    width: 280px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-container__label {
    font-size: 13px;
}

.form_container__input {
    width: 280px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 0px 10px;
    box-sizing: border-box;
}

.form-zones__button-form-zones {
    border: none;
    background-color: #00243d;
    width: 140px;
    height: 35px;
    color: white;
    border-radius: 10px;
    font-size: 15px;
}

.goods-container {
    width: 100%;
    height: 1100px;
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.goods-container-goods-view {
    width: 300px;
    height: 500px;
    border-radius: 10px;
    background-color: rgba(220, 220, 220, 0.582);
}

.goods-container__form-goods{
    width: 300px;
    height: 350px;
    background-color: rgba(220, 220, 220, 0.582);
    border-radius: 10px;
}

.hidden {
    display: none;
}